doctype html
html
  head
    title= title
    link(rel='stylesheet', href='//maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css')
    link(rel='stylesheet', href='/stylesheets/style.css')
    <script type="text/javascript">
  (function rakeLiveWidget(widget_id) {
    let myRakeSystemWidget = {};
    let wid = new myRakeLiveWidget12_07_18(myRakeSystemWidget);
    myRakeSystemWidget.create(widget_id, {
      "hidden_view": 'bubble',
      "position": { "bottom": "0px", "right": "10px" }
    })
  })("custom");
</script>
        
  body
    block content
